%footer.py-5
  .container.py-xl-4
    .row.footer-top
      .col-md-5.footer-grid_section_1its
        .row
          .col-lg-6.col-md-12.col-sm-6
            .row
              .col-2.foot-icon-w3
                %span.fa.fa-user{"aria-hidden" => "true"}
              .col-10
                %h2.footer-title.text-uppercase.text-wh.mb-lg-4.mb-3 About Us
                %p Sed ut perspiciatis unde omnis iste natus error sit.
          .col-lg-6.col-md-12.col-sm-6.mt-lg-0.mt-md-4.mt-sm-0.mt-4
            .row
              .col-2.foot-icon-w3
                %span.fa.fa-hand-o-right{"aria-hidden" => "true"}
              .col-10
                %h3.footer-title.text-uppercase.text-wh.mb-lg-4.mb-3 Who We Are
                %p Error sit antium dolorts remq hymue laud.
        .row.mt-4
          .col-lg-6.col-md-12.col-sm-6
            .row
              .col-2.foot-icon-w3
                %span.fa.fa-ticket{"aria-hidden" => "true"}
              .col-10
                %h3.footer-title.text-uppercase.text-wh.mb-lg-4.mb-3 We Offer
                %p Sed ut perspiciatis unde omnis iste natus error sit.
          .col-lg-6.col-md-12.col-sm-6.mt-lg-0.mt-md-4.mt-sm-0.mt-4
            .row
              .col-2.foot-icon-w3
                %span.fa.fa-bullhorn{"aria-hidden" => "true"}
              .col-10
                %h3.footer-title.text-uppercase.text-wh.mb-lg-4.mb-3 Popular In
                %p Error sit antium dolorts remq hymue laud.
      .col-md-3.footer-grid_section_1its.my-md-0.my-5
        %h3.footer-title.text-uppercase.text-wh.mb-lg-4.mb-md-3.mb-4 Contact Us
        .contact-info
          .footer-style-w3ls
            %h4.text-li.mb-2 Phone
            %p +121 098 8907 9987
          .footer-style-w3ls.my-4
            %h4.text-li.mb-2 Email
            %p
              %a{:href => "mailto:info@example.com"} info@example.com
          .footer-style-w3ls
            %h4.text-li.mb-2 Location
            %p Honey Avenue, New York City
      .col-md-4.footer-grid_section_1its
        %h3.footer-title.text-uppercase.text-wh.mb-lg-4.mb-3 Newsletter
        %p
          Be the first to get latest news and offers!
          %br>/
          Sed ut perspiciatis unde omnis.
        %form.subscribe_form.mt-4{:action => "#", :method => "post"}
          %input.form-control{:name => "email", :placeholder => "Enter your email...", :required => "", :type => "email"}/
          %button.btn{:type => "submit"} Submit
        / social icons
        .w3pvt-webinfo_social_icons.mt-4.pt-md-0.pt-3
          %h3.footer-title.text-uppercase.text-wh.mb-lg-4.mb-3 Connect With Social
          %ul.w3pvt-webits_social_list.list-unstyled
            %li.w3_w3pvt-web_facebook
              %a{:href => "#"}
                %span.fa.fa-facebook-f
            %li.mx-2.w3pvt-web_twitter
              %a{:href => "#"}
                %span.fa.fa-twitter
            %li.w3_w3pvt-web_dribble
              %a{:href => "#"}
                %span.fa.fa-dribbble
            %li.ml-2.w3_w3pvt-web_google
              %a{:href => "#"}
                %span.fa.fa-google-plus
        / social icons
