%header
  %nav.nav-top
    / Created By Bogdan Nagorniy
    .logo
      %h1
        %a{:href => "/"} BinaryOn
    %ul.nav_links.list-unstyled
      %li.nav-link-list
        %a{:href => "/"}
          %span.fa.fa-home
          %p Home
      %li
        %a{:href => "#about"}
          %span.fa.fa-question
          %p About
      / FUTURE: Commented for now, will uncomment once move this to another app
      / %li
      /   %a{:href => "#services"}
      /     %span.fa.fa-cog
      /     %p Services
      %li
        = link_to downloads_path do
          %span.fa.fa-youtube
          %p Downloader
      / %li
      /   %a{:href => "#blog"}
      /     %span.fa.fa-clipboard
      /     %p Blog
      / %li
      /   %a{:href => "#team"}
      /     %span.fa.fa-users
      /     %p Team
      %li
        %a{:href => "#testi"}
          %span.fa.fa-coffee
          %p Clients
      %li
        %a{:href => "#contact"}
          %span.fa.fa-map-marker
          %p Contact
