.container
  %h2 Hover Rows
  %p The .table-hover class enables a hover state on table rows:
  %table.table.table-hover
    %thead
      %tr
        %th Firstname
        %th Lastname
        %th Email
    %tbody
      %tr
        %td John
        %td Doe
        %td john@example.com
      %tr
        %td Mary
        %td Moe
        %td mary@example.com
      %tr
        %td July
        %td Dooley
        %td july@example.com
